<div style="margin-bottom: 22px;">
<div class="btn-group" id="metrics_recent">
    <template v-if="limit == 360">
    <button type="button" class="btn btn-success disabled">The recent 1 hour</button>
    <button type="button" class="btn btn-primary" @click="day();">The recent 1 day</button>
    <button type="button" class="btn btn-primary" @click="week();">In recent 7 days</button>
    </template>
    <template v-if="limit == 360 * 24">
    <button type="button" class="btn btn-primary" @click="hour();">The recent 1 hour</button>
    <button type="button" class="btn btn-success disabled">The recent 1 day</button>
    <button type="button" class="btn btn-primary" @click="week();">In recent 7 days</button>
    </template>
    <template v-if="limit == 360 * 24 * 7">
    <button type="button" class="btn btn-primary" @click="hour();">The recent 1 hour</button>
    <button type="button" class="btn btn-primary" @click="day();">The recent 1 day</button>
    <button type="button" class="btn btn-success disabled">In recent 7 days</button>
    </template>
</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Packets</h3>
            </div>
            <div class="panel-body">
                
                <div id="packets_chart">
                   <svg style="height:400px"> </svg>
                </div>
                <div id="packets_chart_2">
                   <svg style="height:300px"> </svg>
                </div>
                <div id="packets_chart_3">
                   <svg style="height:300px"> </svg>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Messages</h3>
            </div>
            <div class="panel-body">
                
                <div id="messages_chart">
                   <svg style="height:360px"> </svg>
                </div>
                <div id="messages_chart_2">
                   <svg style="height:260px"> </svg>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Bytes</h3>
            </div>
            <div class="panel-body">
                
                <div id="bytes_chart">
                   <svg style="height:260px"> </svg>
                </div>
                
            </div>
        </div>
    </div>
</div>
