<div class="panel panel-default" id="plugins_list">
    <div class="panel-heading">
        <h3 class="panel-title">All Plugins</h3>

        <!-- <div class="panel-options">
            <a href="#" data-toggle="panel">
                <span class="collapse-icon">–</span>
                <span class="expand-icon">+</span>
            </a>
        </div> -->
    </div>
    <div class="panel-body">

        <div class="table-responsive" data-pattern="priority-columns"
            data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true"
            data-add-display-all-btn="true" data-add-focus-btn="true">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Version</th>
                            <th>Description</th>
                            <!-- <th>is_running</th> -->
                            <th>Operation</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="plugin in plugins">
                        <td>{{ plugin.name}}</td>
                        <td>{{ plugin.version}}</td>
                        <td>{{ plugin.description}}</td>
                        <!-- <td>{{ plugin.active}}</td> -->
                        <td>
                            <button type="button" class="btn btn-success btn-single"
                                @click="update(plugin, this)" v-if="plugin.active==true">Enable</button>
                            <button type="button" class="btn btn-gray btn-single"
                                @click="update(plugin, this)" v-else>Disable</button>
                        </td>
                        </tr>
                    </tbody>
                </table>

        </div>
    </div>
</div>
